.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.author {
  font-weight: bold;
}

.tutorial-image {
  max-width: 50px;
}

.sort-panel {
  padding: 5px; margin-top: 5px; border: 1px solid #e9ecef;
}

